.type-section{
    width: 100%;
    position: relative;
    
}

/* .type-parent{
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;


} */
.type-child{
    justify-content: center;
    margin-top: 20vh;
}

.appbar-header{
    width: 100%;
    height: 4vw;
    border-top: 4px;
    background-color: #F46A6F;
    position: relative;
}

.appbar-header h2{
    font-size: 1.2vw;
    color: white;
    font-family: 'Poppins';
    font-weight: 900;
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 30%;
    margin-left: 2vw;

}

.type-parent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    
}

.type-square{
    width: 30vw;
    height: 3.2vw;
    border: 1px solid #8C9099;
    border-radius: 10vw;
    margin-left: 2vw;
    margin-top: 1vw;
    margin-top: 5vh;
}


.type-square p{
    width: 100%;
    font-size: 1.2vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-top: 0.9vw;
    font-family: 'Poppins';
    font-weight: 500;
    
}