.set-result-parent{
    display: flex;
    justify-content: space-evenly;
}
.set-result-student-button-parent button {
    display: flex;
    width: 10vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 7vw;

}



.set-result-dropdown-section{
    width: 100vw;
    margin-top: 2vw;
    margin-left: 4vw;
    
}
.set-result-dropdown-section select{
    font-size: 0.9vw;
    font-weight: 400;
    padding: 0.8vw;
    padding-right: 27vw;
    border: 1px solid #ccc;
    font-family: "poppins";
}

.set-result-button-parent button {
    display: flex;
    width: 10vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 5.5vw;
    font-weight: 900;
    font-size: 0.9vw;

}

.set-result-duration-section{
    width: 50%;
}
.set-result-semester-fee-section{
    width: 50%;
}

.set-result-userid-section{
    align-items: center;
}
.set-result-userid-section p{
    margin-left: 4vw;
    margin-top: 2vw;
    font-family: 'poppins';
    font-weight: 600;
    color: #8C9099;
}



.set-result-secondary-button {
    width: 20vw;
    height: 2vw;
    border: 0.2vw solid #2F4E71;
    border-radius: 0.5vw;
    margin-right: 2vw;
    cursor: pointer;
    margin-top: 3vw;
}


.set-result-secondary-button p {
    width: 100%;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 500;
    margin: auto;
    margin-top: 0.3vw;


}
.set-result-primary-button-parent {
    display: flex;
    margin-top: 5vw;
    margin-left: 5vw;
}

.set-result-primary-button-parent button {
    width: 20vw;
    font-size: 0.9vw;
    font-weight: 600;

}