

.new-student-detail-parent {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
}

.new-student-query-square {
  width: 37vw;
  height: 56vw;
  background: #eaeaea;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.new-student-query-card-parent {
  margin-top: 2vw;
  margin-left: -1.3vw;
}

.new-student-query-card-parent p {
  font-size: 0.9vw;
  font-size: 0.8vw;
  text-align: center;
  margin-top: -3vw;
}

.new-student-query-card-parent input[type="text"] {
  width: 30vw;
  height: 2.7vw;
  padding-left: 1vw;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px #b9bac8;
  margin-top: 1vw;
}

.new-student-query-card-parent input[type="email"] {
  width: 30vw;
  height: 2.7vw;
  padding-left: 1vw;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px #b9bac8;
  margin-top: 1vw;
  margin-left: 60px;
}

.new-student-query-card-parent input[type="number"] {
  width: 30vw;
  height: 2.7vw;
  padding-left: 1vw;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px #b9bac8;
  margin-top: 1vw;
  margin-left: 60px;
}

.new-student-query-card-parent input[type="date"] {
  width: 30vw;
  height: 2.7vw;
  padding-left: 1vw;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px #b9bac8;
  margin-top: 1vw;
  margin-left: 60px;
}

.new-student-query-card-parent input[type="file"] {
  width: 30vw;
  height: 2.7vw;
  padding-left: 1vw;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px #b9bac8;
  margin-top: 1vw;
  margin-left: 60px;
  font-size: 1rem;
  outline: none;
  background-color: #f5f5f5;
  color: #333;
  transition: border-color 0.2s;
  padding-top: 10px;
}

input::placeholder {
  font-size: 0.8vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.new-student-square-header {
  width: 100%;
  height: 4vw;
  border-top: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #263342;
  position: relative;
}

.new-student-square-header h2 {
  font-size: 1.2vw;
  color: white;
  font-family: "Poppins";
  font-weight: 900;
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 30%;
  margin-left: 2vw;
}

.add-course-dropdown {
  margin-top: 1vw;
  margin-left: 4vw;
}
.add-course-dropdown select {
  font-size: 0.9vw;
  font-weight: 400;
  padding: 0.8vw;
  border: 1px solid #ccc;
  padding-right: 6vw;
  width: 88%;
}

.new-student-signup-button {
  margin-bottom: 4vw;
  justify-content: center;
  display: flex;
}

.new-student-signup-button button {
  width: 15vw;
  font-weight: 900;
  font-size: 0.9vw;
  color: white;
  padding: 0.6vw;
  background-color: #2f4e71;
}
