.ecp-parent {
  justify-content: center;
  display: flex;
}

.ecp-item-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border: 1px solid #f46a6f;
  margin-top: 6vw;
}

.ecp-item-label {
  font-size: 0.8vw;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.ecp-item-heading {
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.ecp-cancel-button {
  width: 20vw;
  height: 2vw;
  border: 0.2vw solid #2f4e71;
  border-radius: 0.5vw;
  margin-right: 2vw;
  cursor: pointer;
  margin-top: 3vw;
}

.ecp-cancel-button p {
  width: 100%;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 500;
  margin: auto;
  margin-top: 0.3vw;
}

.ecp-submit-button-parent {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
}

.ecp-submit-button-parent button {
  width: 20vw;
  font-size: 0.9vw;
  font-weight: 600;
}

.asdf {
    margin-left: 15px;
}
