/* .result-section{
    width: 100%;
    position: relative;
    
} */
/* .square-header {
  width: 100%;
  height: 4vw;
  border-top: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
} */

.result-square {
  margin-bottom: 3vw;
  border: 3px solid #ccc;
}

.square-header h2 {
  font-size: 1.7vw;
  color: black;
  font-family: "Poppins";
  font-weight: 900;
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 30%;
  margin-left: 2vw;
}

.result-card-parent {
  margin-left: 4vw;
  margin-top: 2vw;
  position: relative;
}

.result-card-parent h2 {
  font-size: 2vw;
  color: #2f4e71;
  font-family: "Poppins";
  font-weight: 900;
}

.result-card-parent p {
  font-size: 0.8vw;
  color: black;
  font-family: "Poppins";
  font-weight: 900;
  margin-top: -1vw;
}

.result-button-parent button {
  display: flex;
  width: 10vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 7vw;
  font-size: 0.9vw;
}

.result-user-information-section {
  display: flex;
  align-items: center;
}

.result-user-information-section p {
  font-size: 1.2vw;
  margin-top: 2vw;
}

.student-information-section {
  display: flex;
  justify-content: space-between;
}

.section-one {
  width: 40%;
}

.section-two img {
  height: 13.5vw;
  width: 13.5vw;
  margin-right: 10vw;
}

.student-info {
  display: flex;
  margin-top: 1vw;
  line-height: 2vw;
}

.student-info p1 {
  font-size: 1.3vw;
  font-weight: 700;
  font-family: Verdana;
  width: 35%;
}

.student-info p2 {
  margin-left: 4vw;
  font-size: 1.3vw;
  font-family: Verdana;
  font-weight: 700;
}

.square-dashboard {
  margin: 2.5vw;
  border: 3px solid #a39a9a;
}

/* .square-dashboard h2 {
  font-size: 1.2vw;
  color: white;
  font-family: "Poppins";
  font-weight: 900;
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 30%;
  margin-left: 2vw;
} */

.result-fields {
  display: flex;
  justify-content: space-between;
  margin-top: -2vw;
}

.sno-examname {
  margin-top: 5vw;
}

.sno {
  background-color: #2f4e71;
}

.exam-name {
  background-color: aqua;

  width: 60%;
}

.sno-examname p1 {
  font-size: 0.8vw;
  font-family: "Poppins";
  font-weight: 900;
  margin-top: 5vw;
  margin-left: 5vw;
}

.other-fields {
  background-color: #ccc;
  width: 45%;
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
}

/* .other-result-fields {
    width: 60%;
    background-color: #ccc;
    justify-content: space-evenly;
    display: flex;
} */

.other-fields p1 {
  font-size: 0.8vw;
  font-family: "Poppins";
  font-weight: 900;
  margin-right: 5vw;
}

.result-border {
  border: 1.8px solid #ccc;
}

.result-border-2 {
  border: 1.8px solid #ccc;
}

/* left side */
.marking {
  background-color: #ccc;
  width: 45%;
}

.marking p1 {
  font-size: 1vw;
  font-family: Verdana;
  font-weight: 900;
  margin-top: 5vw;
  margin-left: 9.5vw;
  color: black;
}

.sno-examname-result-fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

/* right side */
.other-result-fields {
  background-color: #e9f7e7;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maximum-mark {
  width: 30%;
  justify-content: center;
  background-color: #f46a6f;
  text-align: end;
}

.maximum-mark p1 {
  align-items: center;
  text-align: center;
}

.obtained-mark {
  width: 30%;
  background-color: aqua;
  text-align: end;
}

.grade {
  background-color: #2f4e71;
  width: 40%;
  text-align: center;
}

.other-result-fields p1 {
  width: 60%;
  font-size: 1vw;
  font-family: Verdana;
  font-weight: 900;
  margin-top: 5vw;
  margin-right: 10vw;
  color: black;
  position: relative;
}

.other-result-fields p2 {
  width: 60%;
  font-size: 0.8vw;
  font-family: "Poppins";
  font-weight: 900;
  margin-top: 5vw;
  margin-right: 7.5vw;
  position: relative;
}

.space-1 {
  display: flex;
  width: 2vw;
}

.percentage-square-dashboard {
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.percentage-square-dashboard p1 {
  font-size: 0.8vw;
  color: black;
  font-family: Verdana;
  font-weight: 900;
  vertical-align: middle;
  padding: 0.7vw;
  border: 2px solid #999494;
  position: relative;
  margin-left: 8vw;
  color: black;
  margin-right: 8vw;
}

.percentage-square-dashboard-fail {
  width: 100%;
  height: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.percentage-square-dashboard-fail p1 {
  font-size: 1vw;
  color: black;
  font-family: "Poppins";
  font-weight: 900;
  vertical-align: middle;
  position: relative;
  padding: 0.5vw 2vw;
  margin-bottom: 2vw;
  margin-left: 8vw;
  border: 3px solid #cccccc9c;
  margin-right: 8vw;
}

.result-container-parent {
  padding: 4vw;
}
.publish-result-sections {
  padding: 0.1vw 1.2vw;
  background-color: #2f4e71;
  border-radius: 3vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.2vw;
  margin-left: 35.5vw;
}
.publish-result-buttons p {
  font-size: 1vw;
  color: white;
  font-family: Verdana;
}
.public-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.publish-result-button {
  padding: 0.1vw 1.2vw;
  background-color: #2f4e71;
  border-radius: 3vw;
  cursor: pointer;
}
.publish-result-button p {
  font-size: 1vw;
  color: white;
  font-family: Verdana;
}

.home-button-section {
  padding: 0.1vw 1.2vw;
  border-radius: 3vw;
  justify-content: center;
  display: flex;
  margin-top: 2vw;
}

.home-button {
  width: 20vw;
  text-align: center;
  background-color: #ff878b;
  border-radius: 10vw;
}

.home-button p {
  font-size: 1vw;
  color: white;
}

.course-table {
  margin-top: 2vw;
}

.course-table h1 {
  padding: 1.1vw 3vw;
  font-weight: 400;
  font-size: 1.3vw;
  color: #fff;
}

.parent-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 3vw;
  border-bottom: 2.5px solid #ccc;
}

.parent-row span {
  font-size: 1.1vw;

  font-family: Verdana;
  font-weight: 900;
  color: black;
}

.child-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 3vw;
  border-bottom: 2.5px solid #ccc;
}

.post{
  position: relative;
  right: 4vw;
}

.child-row span {
  font-size: 1vw;
  font-family: Verdana;
  width: 2vw;
  font-weight: 900;
  color: black;
}

.forms-inputs {
  width: 5%;
  box-sizing: border-box;
  border-radius: 4px;
  color: black;
  position: relative;
  right: 48px;
  border: 1px solid #ccc;
}
