.test-subject-section {
    width: 100%;
    height: 5vw;
    background: #F46A6F;
    position: relative;
}

.quesions-numbers {
    height: 90vh;
    width: 10%;
    background-color: #E5E7EB;
    margin-top: 0.8vw;
    position: absolute;
}

.quesions-numbers p {
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 2vw;

}

.publish-quesions {
    width: 100%;
    height: 40vh;
    margin-top: 1vw;
    margin-left: 9vw;
    padding-left: 10px;
}

.publish-quesions p {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-left: 5vw;
    margin-top: 2vw;

}

.publish-answer-form {
    margin-left: 4vw;

}

.publish-answer-form span {
    display: inline-block;
    margin-left: 1vw;
    margin-top: 1.5vw;
}

.publish-answer-form label {
    font-size: 1.2vw;
}


.publish-button {
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}

.publish-button button {
    width: 30vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    font-weight: 900;
    font-size: 0.9vw;
    background-color: #2F4E71;
    border-radius: 4vw;
}